@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Tint&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Tint&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');



:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Momo Signature", cursive;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    background-color: darkgrey;
    min-height: 100vh;

}

header {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;

}

h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header>p {
    margin: 10px;
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

a:hover {
    text-decoration: underline;


}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;

}

section.normal {
    background-color: white;
    color: black;
    font-family: var(--font1);
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.578);
    color: white;
    padding:5px ;
}

section.imagem>p {
    background-color: rgba(0, 0, 0, 0.406);
    width: 400px;
}

footer {
    padding: 10px;
    background-color: black;
    text-align: center;
    color: white;
}