@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Tint&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Tint&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');



:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Momo Signature", cursive;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

html,
body {
    background-color: darkgrey;
    min-height: 100vh;

}

header {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;

}

h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header>p {
    margin: 10px;
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

a:hover {
    text-decoration: underline;


}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: var(--font3);

}

section>p {
    padding-bottom: 1em;
}


section.normal {
    background-color: white;
    color: black;
    font-family: var(--font1);
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.578);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.532);
    background-attachment: fixed;
}

section.imagem>p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.406);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-size: cover;

}

footer {
    padding: 10px;
    background-color: black;
    text-align: center;
    color: white;
}